<%- include("../public/partials/header.ejs") %>
<body>
<div class="container ">
  <div class="row">
    <div class="col">
      <div class="container text-center p-1 accessBox">
        <form action="/register" method="post">
            <div class="row m-1">
                <div class="col"><label for="username">Username: </label>
                <input type="text" name="username"></div> 
            </div>
            <div class="row m-1">
                <div class="col">
                    <label for="password">Password: </label>
                    <input type="text" name="password">
                </div>
            </div>
            <div class="row m-1">
                <div class="col">   
                    <input type="submit" value="Login"> 
                </div>
            </div>
        </form>        
        <a href="/loginPage">Accedi!</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>